
.banner {
    background:  url(../img/hero.jpeg) 
    center center fixed no-repeat;
    height:100vh;
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);



}

.hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

h4, h1, a {
    font-family: 'Nunito', sans-serif;
    color : #fff
}

@media (max-width: 768px) {
    .cc-header {
    background-color: #fff;
    }

    h4 {
        color: #000;
    }
}