
   #header {
       position: absolute;
       z-index: 10;
       width: 100%;
   }
   
   .navbar {
       padding: 30px 0px;
   }

   .navbar-brand {
       font-weight: bold;
       font-size: 1.5em;
       text-transform: uppercase;
       color: #ccc !important;
   }

   .nav-item {
       font-weight: 600;
       text-transform: uppercase;
       padding-left: 50px;
   }

   .nav-link {
       color: #ccc !important;
       letter-spacing: 2px;
       font-size: 1em;
       font-weight: 700;
   }

   .nav-link:hover {
       background: #dcdde1 !important;
       color: #262626 !important;
       border-radius: 5px;
       transition: all 0.6s ease 0s;
   }

   .main {
       position: relative;
       background: url(../img/hero.jpeg);
       min-height: 100vh;
       background-size: cover;
       background-position: center;
       padding: 280px 0 280px;
   }

   .main h2 {
       font-size: 2.6em;
       color: #dcdde1;
       text-transform: uppercase;
       font-weight: bold;
   }

   .main .getInTouch {
       background: #718093;
       color: #fff;
       border-radius: 5px;
       padding: 10px 20px;
       text-decoration: none;
   }
    


    .container-custom {
        width: 100%;
        padding: 0 1rem;
        margin: 0 auto;
    }
    .footer__color__home, .footer__color__portfolio {
        background-color: #D3D3D3;
    }
    @media (min-width: 1689px) { 
        .container-custom {
            width: 100%;
        }
        
        .navbar {
            padding: 30px 80px;
        }
        } 
    

@media (min-width: 1200px) { 
.container-custom {
    width: 100%;
}

.navbar {
    padding: 30px 60px;
}
}
@media (min-width: 720px) { 
.container-custom {
    width: 100%;
    float: left;
}
}
@media (min-width: 597px) { 
.container-custom {
    width: 100%;
    float: left;
}
}