.cc-navbar {
    font-family: 'Ubuntu Mono', serif;
    /*background-color: rgba(0, 0, 0, 0.55);*/
    z-index: 99;
    background-color: transparent;
}

h4, h1, a {
    font-family: 'Nunito', sans-serif;
    color : #fff
}
.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal) ;
}

.cc-navbar 
.nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar 
.nav-link:hover {
   padding-bottom: 20px;
   border-bottom-color: var(--bs-teal);
}

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.2);
    }
    .banner {
        background:  url(../img/hero.jpeg) 
        center center fixed no-repeat;
        height:100vh;
        background-size: cover;
        color: #fff;
    }

    
    
    .banner .banner-desc {
        font-size: 28px;
        color: #fff;
        font-weight: 400;
    }

    .container-custom {
        width: 100%;
        padding: 0 1rem;
        margin: 0 auto;
    }
    .footer__color__home, .footer__color__portfolio {
        background-color: #D3D3D3;
    }
    
    

@media (min-width: 1200px) { 
.container-custom {
    width: 100%;
}
}
@media (min-width: 720px) { 
.container-custom {
    width: 100%;
    float: left;
}
}
@media (min-width: 597px) { 
.container-custom {
    width: 100%;
    float: left;
}
}